.continer
  .form-signin
    %h2.form-signin-heading
      Please sign in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .sr-only
        = f.email_field :email, placeholder: "Email Adrdess", autofocus: true, required: true, class: "form-control"
      .sr-only
        = f.password_field :password, placeholder: "Password", required: true, class: "form-control"
      .checkbox
        = f.check_box :remember_me
        = f.label "remember_me"
      .actions
        = f.submit "SIGN IN"
    .text-center
      %p
        Not a member?
        %a{href: "sign_up"} Sign up now